<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843105465892-enb8q23li70s3pbdtq4kks4sq11sfdr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843105465892-enb8q23li70s3pbdtq4kks4sq11sfdr5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>843105465892-pg2kj5tpqp1c29kvtoumce5q4vn9q4mf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnDnhzu9Z-B2ptrYe4w6JiZTQMlQtjYBU</string>
	<key>GCM_SENDER_ID</key>
	<string>843105465892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neves.chat</string>
	<key>PROJECT_ID</key>
	<string>chatflutter-80c93</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter-80c93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843105465892:ios:9cc37a66501b638db14ab1</string>
	<key>DATABASE_URL</key>
	<string>https://chatflutter-80c93.firebaseio.com</string>
</dict>
</plist>